.hero-title {
  font-size: clamp(32px,4.8vw,  41px);
}

.body-title {
  font-size: clamp(42px, 8vw,  50px);

}
.friends-gradient {
  background: linear-gradient(200deg, #FCB560, #F47C5A);
  filter: saturate(1.1);
}
.hero-bg-gradient {
}

.hero-bg-planet {
    rotate: -28deg;
    translate: 0 -2vh;
    scale: 2;
}
@media (min-width: 480px){
  .hero-bg-planet {
    scale: 1.8;
  }
}
@media (min-width: 540px){
  .hero-bg-planet {
    scale: 1.5;
  }
}
@media (min-width: 768px){
  .hero-bg-planet {
    scale: 1.2;
  }
}
@media (min-width: 1024px){
  .hero-bg-planet {
    rotate: -28deg;
    translate: -30% 25%;
    scale: 1.7;
  }
}
@media (min-width: 768px){
  .hero-bg-planet {

  }
}
.hero-bg {
  transition: .3s ease;
}
@media (min-width: 768px){
  .hero-bg {
    clip-path: polygon(0 0, 49% 0, 100% 30%, 100% 100%, 30% 100%, 0% 20%);
  }
}
@media (min-width: 1024px){
  .hero-bg {
    clip-path: polygon(47% 0%, 54% 100%, 0% 100%, 0% 0%);
  }
}


.friends-grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(170px, 250px));
  grid-gap: 25px;
}

@media (min-width: 1150px){

  .friends-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 25px;
    grid-template-areas:
    'a a b b c c d d'
    '. e e f f g g . '
    'h h i i j j k k'
    '. l l m m n n .'
    ;
  }
  .card-1 { grid-area: a; }
  .card-2 { grid-area: b; }
  .card-3 { grid-area: c; }
  .card-4 { grid-area: d; }
  .card-5 { grid-area: e; }
  .card-6 { grid-area: f; }
  .card-7 { grid-area: g; }
  .card-8 { grid-area: h; }
  .card-9 { grid-area: i; }
  .card-10 { grid-area: j; }
  .card-11 { grid-area: k; }
  .card-12 { grid-area: l; }
  .card-13 { grid-area: m; }
  .card-14 { grid-area: n; }
}


.card {
  --size: 250px;
  perspective: 700px;
  width: var(--size);
  height: var(--size);
}

.card-content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card:hover .card-content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.card .text {
  display: flex;
  flex-direction: column;
}
.card .text header.name {
  grid-area: header;
}
.card .text b.role {
  grid-area: role;
}
.card .text .description {
  grid-area: description;
}
.card .text .contacts {
  grid-area: contacts;
}

.card .front,
.card .back {
  // position: absolute;
  // height: 100%;
  // width: 100%;
  // inset: 0;
  backface-visibility: hidden;
}
.card .front {
  // height: 100%;
}
.card .front img {
}
.card .back {
  transform: rotateY( 180deg );
}

