:root {
  --card-size: 250px;
}

.hero-title {
  font-size: clamp(32px, 4.8vw, 41px);
}

.body-title {
  font-size: clamp(42px, 8vw, 50px);
}

.friends-gradient {
  background: linear-gradient(200deg, #FCB560, #F47C5A);
  filter: saturate(1.1);
}

.hero-bg-planet {
  rotate: -28deg;
  translate: 0 -2vh;
  scale: 2;
}

@media (min-width: 480px) {
  .hero-bg-planet {
    scale: 1.8;
  }
}
@media (min-width: 540px) {
  .hero-bg-planet {
    scale: 1.5;
  }
}
@media (min-width: 768px) {
  .hero-bg-planet {
    scale: 1.2;
  }
}
@media (min-width: 1024px) {
  .hero-bg-planet {
    rotate: -28deg;
    translate: -30% 25%;
    scale: 1.7;
  }
}
.hero-bg {
  transition: 0.3s ease;
}

@media (min-width: 768px) {
  .hero-bg {
    animation: poly1 2s cubic-bezier(0.25, 1, 0.5, 1) 1 both;
  }
}
@media (min-width: 1024px) {
  .hero-bg {
    animation: poly2 2s cubic-bezier(0.25, 1, 0.5, 1) 1 both;
  }
}
@keyframes poly1 {
  0% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 49% 0, 100% 30%, 100% 100%, 30% 100%, 0% 20%);
  }
}
@keyframes poly2 {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0% 0%);
  }
  100% {
    clip-path: polygon(47% 0%, 54% 100%, 0% 100%, 0% 0%);
  }
}
.friends-grid {
  --gap: clamp(15px, 3vw, 30px);
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(170px, 250px));
  grid-gap: var(--gap);
}

@media (min-width: 900px) {
  .card-1 {
    grid-area: a;
  }
  .card-2 {
    grid-area: b;
  }
  .card-3 {
    grid-area: c;
  }
  .card-4 {
    grid-area: d;
  }
  .card-5 {
    grid-area: e;
  }
  .card-6 {
    grid-area: f;
  }
  .card-7 {
    grid-area: g;
  }
  .card-8 {
    grid-area: h;
  }
  .card-9 {
    grid-area: i;
  }
  .card-10 {
    grid-area: j;
  }
  .card-11 {
    grid-area: k;
  }
  .card-12 {
    grid-area: l;
  }
  .card-13 {
    grid-area: m;
  }
  .card-14 {
    grid-area: n;
  }
  .friends-grid {
    --gap: 20px;
    grid-template-columns: repeat(6, auto);
    grid-column-gap: var(--gap);
    grid-row-gap: calc(var(--gap) * 1.5);
    grid-template-areas: "a a b b c c" ". d d e e ." "f f g g h h" ". i i j j ." "k k l l m m" ". . n n . .";
  }
}
@media (min-width: 1150px) {
  .friends-grid {
    --gap: 25px;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: calc(var(--gap) * 1.3);
    grid-column-gap: var(--gap);
    grid-template-areas: "a a b b c c d d" ". e e f f g g . " "h h i i j j k k" ". l l m m n n .";
  }
}
.card {
  perspective: 700px;
  width: var(--card-size);
  height: var(--card-size);
}

.card-content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .card-content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.card .text {
  display: flex;
  flex-direction: column;
}

.card .text header.name {
  grid-area: header;
}

.card .text b.role {
  grid-area: role;
}

.card .text .description {
  grid-area: description;
}

.card .text .contacts {
  grid-area: contacts;
}

.card .front,
.card .back {
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}