footer(class="footer bg-blue text-white py-13")
    .container
        div.font-bold.text-2xl Partnerships for Change
        div(class="h-[2px] w-2 bg-white my-4")
        div(class="text-[10px]") Tungsten © 2023


