header.header.py-4
    .container.flex.justify-between.items-center
        a(class="logo no-underline font-bold text-rose text-xl" href="/").
            Community Logo

        a(class="no-underline text-base text-gray-800" href="mailto:hello@tngstn.com" target="_blank" rel="noopener noreferrer").
            Contact


