include ../mixins/mixins
block variables
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}

        block preload
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
        block head
            link(href="css/style.css" rel="stylesheet")

    body
        include ../chunk/header
        main
            block page


        include ../chunk/community
        include ../chunk/footer

        block footer_scripts
